$marineOutline: #001323;
$marineBlue: #002647;
$marineBlueLight: #00334C;
$skyBlue: #6EA4BF;
$softBlue: #E8FCFF;
$white: #f0f0f0;


$borderGrey: #cfcfcf;
$lightGrey: #888888;
$grey: #555555;
$darkGrey: #282828;
